alabaster==0.7.16
babel==2.16.0
certifi==2024.8.30
charset-normalizer==3.4.0
docutils==0.19
flake8==7.1.1
idna==3.10
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==24.2
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
six==1.16.0
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinx-testing==1.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
urllib3==2.2.3
